.nav{
    
    display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  height: 30vh;
   
}

ul{list-style-type: none;
    display: inline-block;
}

    ul li{display: inline-block;}

    ul li a{
        text-decoration: none;
        padding: 90px;
        color: wheat;
    }
    ul li a:hover{

        color: teal;
    }
   .img{
       margin: 3px 30%;
}
#main{
    text-align: center;
    padding: 10px;
    background-color: aquamarine;
    
}

footer{margin-top: 40px;
text-align: center;
color: wheat;
background-color: brown;}
